.banner{
   background-color: plum;
   background-image: url("https://firebasestorage.googleapis.com/v0/b/cineclub-forever.appspot.com/o/ainbh-banner.png?alt=media");
   background-position: center;
   background-size: cover;
}